<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chi Tiêu Hằng Ngày</title>
    <link rel="stylesheet" href="../../css/main.css">
    <link rel="stylesheet" href="../../assest/uicons-regular-straight/css/uicons-regular-straight.css">
</head>
<body>
    <div class="wrap">
        <!-- Đăng Nhập -->
        <div class="signIn">
            <div class="title">Đăng Nhập</div>
            <div class="inputData username">
                <span class="name">Tài Khoản:</span>
                <input type="text" class="input ssInput" id="inputUser">
            </div>
            <div class="inputData password">
                <span class="name">Mật Khẩu:</span>
                <input type="password" class="input ssInput" id="inputPass">
            </div>
            <div class="forgetPass">Quên mật khẩu</div>
            <div class="signUpForm" id="signUpForm">Đăng ký</div>
            <div class="btn btnSignIn">Đăng Nhập</div>
        </div>

        <!-- Đăng kí -->
        <div class="signUp">
            <div class="title">Đăng Ký</div>
            <div class="inputData email">
                <span class="name">Email:</span>
                <input type="email" class="input ssInput" id="inputEmail_SignUp">
            </div>
            <div class="inputData username">
                <span class="name">Tài Khoản:</span>
                <input type="text" class="input ssInput" id="inputUser_SignUp">
            </div>
            <div class="inputData password">
                <span class="name">Mật Khẩu:</span>
                <input type="password" class="input ssInput" id="inputPass_SignUp">
            </div>
            <div class="inputData confirmPassword">
                <span class="name">Xác Nhận Mật Khẩu:</span>
                <input type="password" class="input ssInput" id="inputCfPass_SignUp">
            </div>
            <div class="tranferSignUp" id="tranferSignUp">Bạn đã có tài khoản !</div>
            <div class="btn btnSignUp">Đăng Ký</div>
        </div>
    </div>
</body>
<script src="../../js/index.js"></script>
</html>